@{
	ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>



<div class="row">
	<div class="col-md-4">



		<div class="jumbotron">
			<input type="button" value="Add Products" onclick="location.href='@Url.Action("Create", "Products")'" class="btn btn-primary " />
			<br/>
			<hr/>

			<input type="button" value="View Products" onclick="location.href='@Url.Action("Index", "Products")'" class="btn btn-primary " />



		</div>
	</div>

	<div class="col-md-4">



		<div class="jumbotron">
			<input type="button" value="Add Product Category" onclick="location.href='@Url.Action("Create", "ProductCategorys")'" class="btn btn-primary " />
			<br />
			<hr />
			<input type="button" value="View Product Categories" onclick="location.href='@Url.Action("Index", "ProductCategorys")'" class="btn btn-primary " />



		</div>
	</div>

	<div class="col-md-4">



		<div class="jumbotron">
			<input type="button" value="Add Product Sizes" onclick="location.href='@Url.Action("Create", "Productsizes")'" class="btn btn-primary " />
			<br />
			<hr />
			<input type="button" value="View Product Sizes" onclick="location.href='@Url.Action("Index", "Productsizes")'" class="btn btn-primary " />



		</div>
	</div>




</div>

<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<input type="button" value="Add Product Types" onclick="location.href='@Url.Action("Create", "ProductTypes")'" class="btn btn-primary " />
			<br />
			<hr />
			<input type="button" value="View Product Types" onclick="location.href='@Url.Action("Index", "ProductTypes")'" class="btn btn-primary " />



		</div>
	</div>

	<div class="col-md-4">
	</div>

	<div class="col-md-4">
	</div>

</div>
